html, body {
    padding: 0;
    margin: 0;
}

.link {
    color: aliceblue;
}
header {
    height: 3rem;
}
header .inner-header {
    position: fixed;
    width: 100%;
    padding: 1rem;
    background-color: rgba(0, 0, 0, .8);
    color: orange;
    display: flex;
    justify-content: space-between;
    z-index: 9999;
}

body {
    background-color: lightgray;
    background-image: url(https://www.dlfspain.com/wp-content/uploads/2020/03/coronavirus-protocol-dlf-group.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.title-bar {
    font-size: 1.2vw;
    font-weight: 600;
}

header .navbar {
    display: flex;
    gap: 1rem;
    margin-right: 3rem;
}

.navbar div a {
    text-decoration: none;
    color: orange;
}

.charts {
    width: 80%;
    margin: 1rem auto;
    padding: 1rem;
    border: 1px dashed grey;
}

.info-pane {
    width: 80%;
    margin: 1rem auto;
    padding: 1rem;
    background-color: rgba(0,0,0,.7);
    color: aliceblue;
}

.world-map {
    width: 100%;
}
